<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />

</head>

<body>
  <h1>Add A Product</h1>
  <form action="/products" method="POST">
    
      <label for="exampleInputEmail1" >Name </label>
      <input type="text"  id="productname" aria-describedby="emailHelp" name="productname">    
    
      <label for="exampleInputPassword1" >Buying_Price</label>
      <input type="number"  id="buyingprice" name="buyingprice">    
    
      <label for="exampleInputPassword1" >Selling_Price</label>
      <input type="number"  id="sellingprice" name="sellingprice"> 
    
      <label for="exampleInputPassword1" >Stock_Quantity</label>
      <input type="number"  id="stockquantity" name="stockquantity">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>.

  <h1>The Following Products are available:</h1>
  <table border="" id="mytable">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>BUYING_PRICE</th>
        <th>SELLING_PRICE</th>
        <th>STOCK_QUANTITY</th>
      </tr>
    </thead>
    <tbody>
      {% for p in myproducts %}
      <tr>
        <td>{{ p[0] }}</td>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
        <td>{{ p[3] }}</td>
        <td>{{ p[4] }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
  <script>
    let table = new DataTable('#mytable');
  </script>
</body>

</html>