<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The sales Are as Follows:</h1>
    <table border="">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT_ID</th>
                <th>QUANTITY</th>
                <th>CREATED_AT</th>
            </tr>
            <tbody>
              {% for s in mysales %}
                <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </thead>
    </table>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae consequuntur repellat, accusamus animi culpa tempora quis iusto, nihil, id harum maxime veritatis. Itaque sed natus modi harum nulla magnam.
    Cumque ad velit est odio similique libero mollitia ipsa dignissimos asperiores laborum rerum voluptas, magni officiis ut suscipit sint, commodi consequatur cum nisi ipsam dolor beatae exercitationem. Eligendi, beatae vel!</p>
</body>
</html>